<nav class="nav navbar fixed-bottom is-primary add-new has-text-centered">
  <%= link_to "Add New Expense", new_expense_path, class: "add-new-btn d-flex flex-row p-3 px-md-4  shadow-sm text-decoration-none" %>
</nav>