<nav class="navbar navbar-light bg-light nav-total">
  <p class="navbar-brand total-font">Total : </p>
  <form class="form-inline">
    <p class="total-font"><%= number_to_currency(@sum) %></p>
  </form>
</nav>